@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap");

:root {
  --background: rgb(0, 0, 0);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: rgb(255, 255, 255);
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  color: black;
}

/*navbar css style*/
header {
  background: var(--background);
  text-align: center;
  position: fixed;
  z-index: 999;
  width: 100%;
}

.nav-toggle {
  position: absolute !important;
  top: -9999px !important;
  left: -9999px !important;
}

.nav-toggle:focus ~ .nav-toggle-label {
  outline: 3px solid rgba(lightblue, 0.75);
}

.nav-toggle-label {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 1em;
  height: 100%;
  display: flex;
  align-items: center;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
  display: block;
  background: white;
  height: 2px;
  width: 2em;
  border-radius: 2px;
  position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
  content: "";
  position: absolute;
}

.nav-toggle-label span::before {
  bottom: 7px;
}

.nav-toggle-label span::after {
  top: 7px;
}

nav {
  position: absolute;
  text-align: left;
  top: 100%;
  left: 0;
  background: var(--background);
  width: 100%;
  transform: scale(1, 0);
  transform-origin: top;
  transition: transform 300ms ease-in-out;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  margin-bottom: 1em;
  margin-left: 1em;
}

nav a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  text-transform: capitalize;
  opacity: 0;
  transition: opacity 150ms ease-in-out;
}

nav a:hover {
  color: rgb(40, 249, 180);
}

.nav-toggle:checked ~ nav {
  transform: scale(1, 1);
}

.nav-toggle:checked ~ nav a {
  opacity: 1;
  transition: opacity 250ms ease-in-out 250ms;
}

.logo {
  width: 125px;
  height: 75px;
}
@media screen and (min-width: 799px) {
  .nav-toggle-label {
    display: none;
  }

  header {
    display: grid;
    grid-template-columns: 1fr auto minmax(600px, 3fr) 1fr;
  }

  .logo {
    grid-column: 2 / 3;
    width: 210px;
    height: 110px;
  }

  nav {
    all: unset; /* this causes issues with Edge, since it's unsupported */

    grid-column: 3 / 4;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  nav ul {
    display: flex;
  }

  nav li {
    margin-left: 3em;
    margin-bottom: 0;
  }

  nav a {
    opacity: 1;
    position: relative;
  }

  nav a::before {
    content: "";
    display: block;
    height: 5px;
    background: rgb(40, 249, 180);
    position: absolute;
    left: 0;
    right: 0;
    bottom: -0.75em;
    transform: scale(0, 1);
    transition: transform ease-in-out 250ms;
  }

  nav a:hover::before {
    transform: scale(1, 1);
  }
}

nav ul li a {
  font-weight: bold;
}

/* not used class*/
.homeimage {
  width: 100%;
}

/* side buttons left n right*/

.banner_slider {
  position: relative;
}

.banner_slider .slick-next {
  background: #fff url("work materials/next.png") center center no-repeat;
  font-size: 0px;
  background-size: 80%;
  border: 0px;
  width: 40px;
  height: 73px;
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -36px;
  z-index: 10;
}

.banner_slider .slick-prev {
  background: #fff url("work materials/previous.png") center center no-repeat;
  font-size: 0px;
  background-size: 80%;
  border: 0px;
  width: 40px;
  height: 73px;
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -36px;
  z-index: 10;
}

/* this is the button below the image banner */

.banner_slider .slick-dots {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  text-align: center;
}

.banner_slider .slick-dots li {
  list-style: none;
  width: 15px;
  height: 15px;
  background: gray;
  border-radius: 50%;
  display: inline-block;
  margin: 0 5px;
}

.banner_slider .slick-dots li.slick-active {
  background: #000;
}

.banner_slider .slick-dots li button {
  display: none;
}
